    body {
            margin: 0px;
            padding: 0px;
            font-family: 'Microsoft YaHei';
            font-size: 14px;
        }

        a {
            text-decoration: none;
            color: #333;
        }

            a:hover {
                color: #0086da;
            }

        .banner {
            background-image: url(/images/zjgl/banner.jpg);
            height: 110px;
            width: 1920px;
        }

        .content {
            width: 1280px;
            height: auto;
            margin: auto;
        }

            .content ul {
                margin: 0px;
                padding: 0px;
            }

                .content ul li {
                    width: 630px;
                    height: 354px;
                    float: left;
                    list-style-type: none;
                    display: table;
                }

        .flfg_icon {
            background: url(/images/zjgl/fg.png) no-repeat center center;
            margin-right: 10px;

        }

        .wtjd_icon {
            background: url(/images/zjgl/wtjd.png) no-repeat center center;
            margin-left: 20px;
        }

        .qtzx_icon {
            background: url(/images/zjgl/zx.png) no-repeat center center;
            margin-right: 20px;
        }


        .list {
            width: 630px;
            display: table-cell;
            vertical-align: middle;
        }

            .list .tit {
                color: #FFFFFF;
                background-color: #0086da;
                padding: 6px 35px;
 
                height: 40px;
                font-size:16px;
                font-weight:bold;
            }

            .list ul {
                margin: 0;
                padding: 0px;
                margin-top: 12px;
            }

                .list ul li {
                    height: 40px;
                    line-height: 40px;
                    text-indent: 6px;
                    border-bottom: 1px solid #ddd;
                }

                    .list ul li > i {
                        width: 4px;
                        height: 4px;
                        border-radius: 10px;
                        background-color: #79b6ff;
                        float: left;
                        margin-top: 16px;
                    }

                    .list ul li .title {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        width: 530px;
                        display: inline-block;
                        float: left;
                    }

                    .list ul li .date {
                        float: right;
                        font-size: 14px;
                        color: #999;
                    }

        .white_r {
            width: 1920px;
            height: 354px;
            background-color: #fff;
        }

        .grey_r {
            width: 1920px;
            background-color: #f0eeed;
            height: 354px;
        }

        .footer {
            width: 1920px;
            margin: auto;
            height: 120px;
            line-height: 120px;
            margin-top:20px;
            border-top: 1px solid #f0eeed;
            background-color:#519df5;
        }

        .footer_info {
            width: 1280px;
            margin: auto;
            text-align: center;
        }

            .footer_info span {
                margin-left: 10px;
                color: #fff;
                font-size: 14px;
            }

               .show_cnt {
            width: 1280px;
            margin: auto;
        }

        .show_nav {
            height: 60px;
            line-height: 60px;
            border-bottom: 1px solid #0086da;
        }

            .show_nav > i {
                width: 6px;
                height: 6px;
                border-radius: 10px;
                background-color: #79b6ff;
                display: inline-block;
                margin: 0px 5px;
            }

            .show_nav span {
                color: #0066ff;
                font-size: 14px;
                font-weight: bold;
            }

        .cnt_box {
            width: 1280px;
            margin: auto;
            border-top: 2px solid #0086da;
            margin-top: 3px;

        }

        .cnt_title {
            height: 80px;
            line-height: 80px;
            text-align: center;
            width: 1280px;
            font-size: 24px;
            color: #ff0000;
            letter-spacing: 2px;
        }

        .cnt_info {
            text-align: center;
            width: 1280px;
            font-size: 12px;
            border-bottom: 2px solid #0086da;
            height:36px;
        }

            .cnt_info > span {
                margin: 0px 5px;
                color: #0066ff;
                letter-spacing: 1px;
            }

        .cnt_text {
            width: 1280px;
            margin: auto;
            line-height: 26px;
            margin-top: 20px;
            min-height: 420px;
            font-size: 14px;
            color: #666;
            letter-spacing: 1px;
        }