body {
    margin: 0px;
    padding: 0px;
    height: auto;
}

.nbjh_banner {
    width: 1920px;
    height: 200px;
    background-image: url(/images/nbjh/nbjh_banner.png);
}

.sciWrap {
    width: 1200px;
    min-height: 700px;
    padding-top: 34px;
}

    .sciWrap ul {
        margin: 0px;
        padding: 0px;
        margin-left: 8px;
    }

        .sciWrap ul li {
            float: left;
            width: 534px;
            height: 90px;
            margin: 0 12px 30px 32px;
            background: #fff;
            overflow: hidden;
            border: 1px solid #e8e8e8;
            border-radius: 50px 0 0 50px;
        }

            .sciWrap ul li:hover {
                background: #EEEEEE;
            }

                .sciWrap ul li:hover .sciInner h3 a {
                    color: #F49E38;
                }

            .sciWrap ul li:after {
                display: block;
                clear: both;
                content: "";
                overflow: hidden;
            }

.sciTime {
    float: left;
    width: 90px;
    height: 90px;
    text-align: center;
    color: #fff;
    /*background: #f49e38;*/
    background-image: linear-gradient(#0058c5, #90c4f9);
    /*background-image: linear-gradient(#ff6600, #f49e38);*/
    border-radius: 50px;
    border: 1px solid #e8e8e8;
}

    .sciTime h3 {
        font-size: 20px;
        height: 36px;
        margin-top: 30px;
    }


.sciInner {
    float: right;
    width: 384px;
    height: 100%;
    background: url(/images/nbjh/item_icon.png) no-repeat right 10px center;
}

    .sciInner h3 {
        margin-top: 15px;
        font-size: 16px;
        font-weight: bold;
        color: #323232;
    }

    .sciInner span {
        color: #999;
        font-size: 14px;
    }


.w1200 {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    background-color: #f7f7f7;
}

a {
    text-decoration: none;
    color: #666;
}

.nbjh_footer {
    clear: both;
    width: 1920px;
    height: 80px;
    line-height: 80px;
    background-image: linear-gradient(#007dd6, #005ec5);
    margin-top: 20px;
}

    .nbjh_footer span {
        height: 30px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        display: block;
    }

.nbjh_cnt {
    width: 1200px;
    margin: auto;
    min-height: 800px;
    background-repeat: no-repeat;
    margin-top: 10px;
    color: #666;
}


.fyconru {
    overflow: hidden;
    min-height: 800px;
    position: relative;
    margin: auto;
    background-color: rgba(255,255,255,0.9);
    margin-top: 30px;
    margin-bottom: 30px;
    background: url(/images/gjhz/show_bottom_bg.png) rgba(255,255,255,0.9) no-repeat bottom;
}

.show_t {
    text-align: center;
    padding: 60px 0px 25px 0px;
    border-bottom: 1px solid #e7e7e7;
    background: url(/images/gjhz/show_top_bg.png) rgba(255,255,255,0.9) no-repeat top;
}

    .show_t h1 {
        margin: 0;
        font-size: 28px;
        width: 816px;
        margin: auto;
        color: #1d7fd6;
    }

    .show_t span {
        margin-left: 12px;
    }



    .show_t h5 {
        color: #464646;
        font-weight: normal;
        line-height: 20px;
        margin: 10px auto;
        width: 180px;
        height: 20px;
        overflow: hidden;
    }

.show_c {
    padding: 20px 0px 20px 0px;
    color: #464646;
    line-height: 35px;
    width: 950px;
    margin: auto;
}
