@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>个人所得税专栏文件</title>
    <link rel="stylesheet" href="/Content/themes/crsri/css/page.css" />
    <link rel="stylesheet" href="/Content/themes/crsri/css/footerbox.css" />
</head>
<body>
    <div class="tax_head">
    </div>
    <div class="tax_content">
        <div class="tax_title">
            个人所得税专栏文件
        </div>
        <div class="tax_list">
            <ul>
                <li>
                    <i>

                    </i>
                    <a href="#" target="_blank"> 专项附加扣除电子模板填写说明及常见问题</a>
                </li>
                <li>
                    <i>

                    </i>
                    <a href="#" target="_blank"> 专项附加扣除电子模板填写说明及常见问题</a>
                </li>

                <li>
                    <i>

                    </i>
                    <a href="#" target="_blank"> 专项附加扣除电子模板填写说明及常见问题</a>
                </li>
                <li>
                    <i>

                    </i>
                    <a href="#" target="_blank"> 专项附加扣除电子模板填写说明及常见问题</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footerbox bg">
        <div class="wid_main fix">

            <div class="txt" style="margin:auto;text-align:center">
                <p>主办：长江科学院财务处</p>
                <p>支持：长江科学院信息中心</p>
                <p>电话：82926349</p>
            </div>
        </div>
    </div>
</body>
</html>
