/*
  弹性和模型布局
    ui-flex

    flex-direction:(布局方向)
      ui-row,ui-row-reverse,ui-colunm,ui-column-reverse

    flex-wrap:(换行)
      ui-flex-nowrap,ui-flex-wrap,ui-flex-wrap-reverse

    justify-content:(子元素对齐方向)
      ui-cont-start,ui-cont-end,ui-cont-center,ui-cont-sb,ui-cont-sa

    align-items:(交叉对齐方向)
      ui-items-stretch,ui-items-start,ui-items-end,ui-items-center,ui-items-baseline

  table布局模型
    ui-table,ui-table-row,ui-table-cell

  百分比尺寸宽度
    w-25,w-33,w-50,w-66,w-75,w-100,h-100

  字体大小 (1-50) 单数
    ui-size-(1-50)

  定义盒子宽度占比 - (flex1-12)
    ui-flex-(1-12)
  
  定义Margin (2-100) 双数
    ui-mg-(2-100)
    ui-mgt-(2-100)
    ui-mgr-(2-100)
    ui-mgb-(2-100)
    ui-mgl-(2-100)

  定义Padding (2-100) 双数
    ui-pd-(2-100)
    ui-pdt-(2-100)
    ui-pdr-(2-100)
    ui-pdb-(2-100)
    ui-pdl-(2-100)

  高度 h (2-200) - 双数
    ui-h-(2-100)

  行高度 lh (2-200) - 双数
    ui-lh-(2-200)
  
  宽度 w (2-200) - 双数
    ui-w-(2-200)

  圆角 br (1-50) - 单数
    ui-br-(1-50)

  边框宽度 bd (1-10) - 单数
    ui-bd-(1-10)
    ui-bdt-(1-10)
    ui-bdr-(1-10)
    ui-bdb-(1-10)
    ui-bdl-(1-10)
  
  边框样式 - (1-10) 常用
    ui-bs-solid  //  实线
    ui-bs-dashed  // 虚线
    ui-bs-dotted  //  点线
    ui-bs-double  //  双线边框

  文字超过1-3行自动省略
    .ui-hide-1
    .ui-hide-2
    .ui-hide-3

  其他CSS标签定义
    .ui-inline-block
    .ui-cous
    .ui-overflow-hidden
    .ui-font-left
    .ui-font-center
    .ui-font-right
    .ui-font-bold
    .ui-word-break 连续数字、英文字母强制换行
    .ui-boxsizing
    .ui-tcm  下划线
*/
/*弹性和模型布局 之 父元素*/
.ui-flex {
    display: flex;
    display: flexbox;
    display: -ms-flexbox; /* 兼容IE */
}



.ui-flex-1 {
    flex: 1;
    -ms-flex: 1;
    width: 0;
}

.ui-row {
    /*横向布局 - 从左到右 （默认）*/
    flex-direction: row;
    -ms-flex-direction: row; /* IE 10 */
}

.ui-row-reverse {
    /*横向布局 - 从右到左*/
    flex-direction: row-reverse;
    -ms-flex-direction: row-reverse; /* IE 10 */
}

.ui-column {
    /*垂直布局 - 从上到下*/
    flex-direction: column;
    -ms-flex-direction: column;
}

.ui-column-reverse {
    /*垂直布局 - 从下到上*/
    flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
}

.ui-flex-nowrap {
    white-space: nowrap;
}

.ui-flex-wrap {
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.ui-flex-wrap-reverse {
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.ui-cont-start {
    /*子元素-居左*/
    justify-content: flex-start;
    -ms-flex-pack: start;
}

.ui-cont-end {
    /*子元素-居右*/
    justify-content: flex-end;
    -ms-flex-pack: end;
}

.ui-cont-center {
    /*子元素-居中*/
    justify-content: center;
    -ms-flex-pack: center;
}

.ui-cont-sb {
    /*内容两边对其*/
    justify-content: space-between;
    -ms-flex-pack: justify;
}

.ui-cont-sa {
    /*水平内容平均分配*/
    justify-content: space-around;
    -ms-flex-pack: distribute;
}

.ui-items-stretch {
    /*沾满整个屏幕（默认）*/
    align-items: stretch;
    -ms-flex-align: stretch;
}

.ui-items-start {
    /*上对其*/
    align-items: flex-start;
    -ms-flex-align: start;
}

.ui-items-end {
    /*下对其*/
    align-items: flex-end;
    -ms-flex-align: end;
}

.ui-items-center {
    /*上下居中*/
    align-items: center;
    -ms-flex-align: center;
}

.ui-cont-baseline {
    /*文字基线对其*/
    align-items: baseline;
    -ms-flex-item-align: baseline;
}

.bangong .title {
    width: 410px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    padding-left: 17px;
    box-sizing: border-box;
}

    .bangong .title h3 {
        font-weight: bold;
        color: #005ca2;
    }

    .bangong .title.bg_1 {
        background: url(../../../../Images/home_49.jpg) no-repeat;
    }

    .bangong .title.bg_2 {
        background: url(../../../../Images/home_61.jpg) no-repeat;
    }

    .bangong .title.bg_3 {
        background: url(../../../../Images/home_79.jpg) no-repeat;
    }

    .bangong .title.bg_4 {
        background: url(../../../../Images/home_96.jpg) no-repeat;
    }

.bangong .line {
    width: 1px;
    height: 83px;
    background: #458cc3;
    opacity: 0.3;
}

.bangong a {
    color: #333;
}

.bangong .text_list li {
    padding-right: 1.33%;
    font-size: 16px;
    margin-bottom: 10.5px;
    display: flexbox;
    display: -ms-flexbox;
    display: flex;
}

    .bangong .text_list li i {
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #333;
        margin-top: 10px;
        margin-right: 5px;
    }

    .bangong .text_list li img {
        vertical-align: middle;
    }

.bangong .n_list {
    padding-bottom: 5px;
}

    .bangong .n_list li {
        height: 16px;
        margin-bottom: 12px;
    }

        .bangong .n_list li i {
            font-size: 12px;
            margin-top: 5px;
            margin-right: 5px;
        }

        .bangong .n_list li img {
            width: 14px;
            height: 15px;
            margin-right: 5px;
            margin-top: 4px;
        }
