body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}


.lzjs_banner {
    background: url(/images/lzjs/banner.png);
    height: 200px;
    width: 1920px;
}

.lzjs_cnt {
    width: 1380px;
    height: 1300px;
    margin: auto;
    padding-top: 20px;
}

.lzjs_flash {
    width: 440px;
    height: 286px;
    padding-left: 8px;
    padding-top: 6px;
}

    .lzjs_flash img {
        width: 440px;
        height: 286px;
    }

.ml_10 {
    margin-left: 10px;
}

.ml_20 {
    margin-left: 20px;
}

.lzjs_list_box {
    width: 440px;
    float: left;
}


.lzjs_list_head {
    width: 440px;
    height: 50px;
    line-height: 50px;
    background: url(/images/lzjs/lm440.png) no-repeat top;
}

    .lzjs_list_head h3 {
        margin-left: 60px;
        color: #e9e22b;
        height: 50px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 180px;
        float: left;
    }

.lzjs_tit_item {
    border: 2px dotted #e71f19;
    height: 300px;
    margin-left: 20px;
    width: 412px;
    padding-top: 10px;
    overflow: hidden;
}

    .lzjs_tit_item ul {
        margin: 0px;
        padding: 0px;
    }

        .lzjs_tit_item ul li {
            list-style-type: none;
            width: 400px;
            line-height: 25px;
            display: table;
            background-image: url(/images/lzjs/listSquare.png);
            background-position: left 8px top 10px;
            background-repeat: no-repeat;
        }

.l_box {
    width: 456px;
    float: left;
    margin-left: 20px;
    margin-top: 8px;
    border: 1px solid #e71f19;
}



.l_lzjs_list_box {
    width: 440px;
    height: 316px;
    float: left;
    margin-top: 10px;
    overflow: hidden;
    padding-left: 8px;
}


.l_lzjs_list_head {
    width: 440px;
    height: 45px;
    line-height: 45px;
    background: url(/images/lzjs/lm440_l.png) no-repeat top;
}

    .l_lzjs_list_head h3 {
        color: #e9e22b;
        height: inherit;
        margin-top: 0px;
        width: 100px;
        float: left;
        margin-left: 168px;
    }

.l_lzjs_tit_item {
    height: 300px;
    margin-left: 20px;
    width: 412px;
    margin-top: 10px;
}

    .l_lzjs_tit_item ul {
        margin: 0px;
        padding: 0px;
    }

        .l_lzjs_tit_item ul li {
            list-style-type: none;
            width: 400px;
            line-height: 28px;
            display: table;
            background-image: url(/images/lzjs/licon.png);
            background-position: left center;
            background-repeat: no-repeat;
        }

.listItem_title_400 {
    padding-left:22px;
    width: 316px;
    display: table-cell;
}

.listItem_date {
    color: #999;
    font-size: 12px;
    display: table-cell;
    vertical-align: middle;
    padding-left:5px;
}

.r {
    float: right;
}

a {
    color: #333;
    cursor: pointer;
    text-decoration: none;
}

.r_box {
    width: 900px;
    height: 380px;
    float: left;
}

.footer {
    width: 1920px;
    height: 30px;
    line-height: 30px;
    background-color: #e71f19;
    margin: auto;
}

    .footer span {
        width: inherit;
        display: block;
        text-align: center;
        color: #fff;
        font-size: 14px;
        height: 30px;
    }

.list_table_title {
    width: 1148px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 6px;
    display: block;
    float: left;
}

.list_table {
    width: 1178px;
    margin: auto;
    margin-bottom: 20px;
}

    .list_table ul {
        margin: 0px;
        padding: 0px;
        margin-top: 48px;
    }

        .list_table ul li {
            list-style-type: none;
            height: 40px;
            line-height: 40px;
            margin-bottom: 8px;
            background-image: url(/images/aqsc/li_icon.png);
            background-position: left center;
            background-repeat: no-repeat;
            text-indent: 12px;
            margin-left: 20px;
            border-bottom: 1px solid #999;
        }



            .list_table ul li a {
                text-decoration: none;
                color: #333;
                font-size: 16px;
            }


/* 轮播 */
.slideBox {
    box-sizing: border-box;
    width: 438px;
    height: 292px;
    overflow: hidden;
    position: relative;
    border: 1px solid #e5e5e5;
}

    .slideBox .hd {
        height: 15px;
        position: absolute;
        right: 10px;
        bottom: 20px;
        z-index: 1;
    }

        .slideBox .hd ul {
            overflow: hidden;
            zoom: 1;
            float: left;
            padding: 0px;
        }

            .slideBox .hd ul li {
                float: left;
                margin-right: 1px;
                width: 15px;
                height: 15px;
                line-height: 15px;
                text-align: center;
                background: #fff;
                cursor: pointer;
                list-style: none;
            }

                .slideBox .hd ul li.on {
                    background: #ff6600;
                    color: #fff;
                }

    .slideBox .bd {
        position: relative;
        height: 100%;
        z-index: 0;
    }

        .slideBox .bd ul {
            padding: 0px;
            margin: 0px;
        }

        .slideBox .bd li {
            zoom: 1;
            vertical-align: middle;
            position: relative;
        }

            .slideBox .bd li div {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1;
                width: 692px;
                height: 40px;
                line-height: 40px;
                font-size: 16px;
                padding-left: 6px;
                background: #999;
                opacity: 0.6;
            }

            .slideBox .bd li img {
                width: 438px;
                height: 292px;
                display: block;
                border: none;
            }

    .slideBox .title {
        position: absolute;
        width: 430px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: keep-all;
        color: #ffffff;
    }


.l_more {
    float: right;
    margin-right: 48px;
}

    .l_more a {
        color: #fff;
        font-size: 14px;
    }

.r_more {
    float: right;
    margin-right: 8px;
}

    .r_more a {
        color: #fff;
        font-size: 14px;
    }



.fenye {
    text-align: left;
    height: 60px;
    width: 1138px;
    margin: auto;
}

    .fenye ul {
        height: auto;
        overflow: hidden;
    }

    .fenye span, .fenye a {
        display: inline-block;
        padding: 0 9px;
        margin: 0 2px;
        background: #efefef;
        border-radius: 2px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        color: #000;
        float: left;
    }

        .fenye a.current {
            background: #d31820;
            color: #fff;
        }

        .fenye a:hover {
            background: #d31820;
            color: #fff;
        }

    .fenye input {
        width: 30px;
    }


.show_cnt {
    width: 1380px;
    min-height: 2248px;
    background-image: url(/images/lzjs/show_bg.png);
    background-repeat: no-repeat;
    margin: auto;
}

fyconru {
    width: 1200px;
    height: auto;
    border-top: none;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 45px;
}

.show_t {
    text-align: center;
    padding: 50px 0px 25px 0px;
}

    .show_t h1 {
        margin: 0;
        font-size: 28px;
        color: #e71f19;
        width: 980px;
        margin: auto;
    }

    .show_t span {
        margin-left: 12px;
    }



    .show_t h5 {
        color: #464646;
        font-weight: normal;
        line-height: 20px;
        margin: 10px auto;
        width: 180px;
        height: 20px;
        overflow: hidden;
    }

.show_c {
    padding: 0px 0px 20px 0px;
    color: #464646;
    line-height: 35px;
    width: 950px;
    margin: auto;
}
