@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>经济发展调研心得体会专栏</title>
    <link rel="stylesheet" href="/Content/themes/crsri/css/page.css" />
    <link rel="stylesheet" href="/Content/themes/crsri/css/footerbox.css" />
</head>
<body>
    <div class="expCol_content">
        <div class="expCol_head">

        </div>
        <div class="expCol_list_box">
            <div class="expCol_title">
                <img src="/images/exptitleicon.png" style="float:left" />
                <span style="float:left;padding-top:5px;">心得体会</span>
            </div>
            <div class="expCol_list">
                <ul>
                    <li>
                        <a href="#" target="_blank">机关一支部(长江技术经济学会秘书处支部) 学习长江委党组书记、主任马建华《长江经济发展保障调研总结讲话》心得体会</a>
                        <span>07-29</span>
                    </li>
                    <li>
                        <a href="#" target="_blank">机关一支部(长江技术经济学会秘书处支部) 学习长江委党组书记、主任马建华《长江经济发展保障调研总结讲话》心得体会</a>
                        <span>07-29</span>
                    </li>
                    <li>
                        <a href="#" target="_blank">机关一支部(长江技术经济学会秘书处支部) 学习长江委党组书记、主任马建华《长江经济发展保障调研总结讲话》心得体会</a>
                        <span>07-29</span>
                    </li>
                    <li>
                        <a href="#" target="_blank">机关一支部(长江技术经济学会秘书处支部) 学习长江委党组书记、主任马建华《长江经济发展保障调研总结讲话》心得体会</a>
                        <span>07-29</span>
                    </li>
                    <li>
                        <a href="#" target="_blank">机关一支部(长江技术经济学会秘书处支部) 学习长江委党组书记、主任马建华《长江经济发展保障调研总结讲话》心得体会</a>
                        <span>07-29</span>
                    </li>
                    <li>
                        <a href="#" target="_blank">机关一支部(长江技术经济学会秘书处支部) 学习长江委党组书记、主任马建华《长江经济发展保障调研总结讲话》心得体会</a>
                        <span>07-29</span>
                    </li>
                    <li>
                        <a href="#" target="_blank">机关一支部(长江技术经济学会秘书处支部) 学习长江委党组书记、主任马建华《长江经济发展保障调研总结讲话》心得体会</a>
                        <span>07-29</span>
                    </li>
                    <li>
                        <a href="#" target="_blank">机关一支部(长江技术经济学会秘书处支部) 学习长江委党组书记、主任马建华《长江经济发展保障调研总结讲话》心得体会</a>
                        <span>07-29</span>
                    </li>
                    <li>
                        <a href="#" target="_blank">机关一支部(长江技术经济学会秘书处支部) 学习长江委党组书记、主任马建华《长江经济发展保障调研总结讲话》心得体会</a>
                        <span>07-29</span>
                    </li>
                    <li>
                        <a href="#" target="_blank">机关一支部(长江技术经济学会秘书处支部) 学习长江委党组书记、主任马建华《长江经济发展保障调研总结讲话》心得体会</a>
                        <span>07-29</span>
                    </li>
                    <li>
                        <a href="#" target="_blank">机关一支部(长江技术经济学会秘书处支部) 学习长江委党组书记、主任马建华《长江经济发展保障调研总结讲话》心得体会</a>
                        <span>07-29</span>
                    </li>
                    <li>
                        <a href="#" target="_blank">机关一支部(长江技术经济学会秘书处支部) 学习长江委党组书记、主任马建华《长江经济发展保障调研总结讲话》心得体会</a>
                        <span>07-29</span>
                    </li>
                    <li>
                        <a href="#" target="_blank">机关一支部(长江技术经济学会秘书处支部) 学习长江委党组书记、主任马建华《长江经济发展保障调研总结讲话》心得体会</a>
                        <span>07-29</span>
                    </li>
                    <li>
                        <a href="#" target="_blank">机关一支部(长江技术经济学会秘书处支部) 学习长江委党组书记、主任马建华《长江经济发展保障调研总结讲话》心得体会</a>
                        <span>07-29</span>
                    </li>
                </ul>
            </div>
   
        </div>
        <div class="footerbox bg">
            <div class="wid_main fix">

                <div class="txt" style="margin:auto;text-align:center">
                    <p>主办：长江科学院科研计划处 党群办公室</p>
                    <p>支持：长江科学院信息中心</p>
                    <p>电话：82926349</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
