body {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #333;
}

    a:hover {
        color: #005ca2;
    }

.banner {
    background-image: url(/images/czgg/banner.png);
    background-repeat: no-repeat;
    width: 1920px;
    height: 160px;
}

.main {
    width: 1080px;
    margin: auto;
    background-repeat: repeat;
    margin-top: 20px;
}



    .main .head460 {
        width: 1080px;
        height: 40px;
        line-height: 40px;
        background: url(/images/czgg/titbg460.png) no-repeat left center;
        text-align: center;
        margin-top: 20px;
    }

        .main .head460 span {
            width: 460px;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            display: block;
        }

.list {
    margin-top: 6px;
}

    .list ul {
        padding: 20px;
        margin: 0px;
        background-color: #f0eeed;
        background: url(/images/czgg/mainbg.png) repeat;
    }

        .list ul li {
            list-style-type: none;
            height: 35px;
            line-height: 35px;
            text-indent: 8px;
            font-size: 16px;
            color: #666;
            border-bottom: 1px dashed #ccc;
        }


            .list ul li > i {
                width: 6px;
                height: 6px;
                border-radius: 10px;
                background-color: #79b6ff;
                float: left;
                margin-top: 16px;
            }

            .list ul li .title {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 930px;
                display: inline-block;
                float: left;
            }

            .list ul li .date {
                float: right;
                font-size: 14px;
                color: #999;
            }

.footer {
    width: 1920px;
    margin: auto;
    height: 120px;
    line-height: 120px;
    margin-top: 20px;
    border-top: 1px solid #f0eeed;
    background-color: #47627f;
}

.footer_info {
    width: 1280px;
    margin: auto;
    text-align: center;
}

    .footer_info span {
        margin-left: 10px;
        color: #fff;
        font-size: 14px;
    }

.show_cnt {
    width: 1280px;
    margin: auto;
}

.show_nav {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #0086da;
}

    .show_nav > i {
        width: 6px;
        height: 6px;
        border-radius: 10px;
        background-color: #79b6ff;
        display: inline-block;
        margin: 0px 5px;
    }

    .show_nav span {
        color: #005ca2;
        font-size: 14px;
        font-weight: bold;
    }

.cnt_box {
    width: 1280px;
    margin: auto;
    border-top: 2px solid #005ca2;
    margin-top: 3px;
}

.cnt_title {
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 1280px;
    font-size:24px;
    color: #ff0000;
    letter-spacing: 2px;
}

.cnt_info {
    text-align: center;
    width: 1280px;
    font-size: 12px;
    border-bottom: 2px solid #005ca2;
    height: 36px;
}

    .cnt_info > span {
        margin: 0px 5px;
        color: #005ca2;
        letter-spacing: 1px;
    }

.cnt_text {
    width: 1280px;
    margin: auto;
    line-height: 26px;
    margin-top: 20px;
    min-height: 420px;
    font-size: 14px;
    color: #666;
    letter-spacing: 1px;
}
