
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.title</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @*<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@
    <link href="/Content/themes/crsri/HYZHONGYUANJ/HYZHONGYUANJ.css" rel="stylesheet">
    <link rel="stylesheet" href="/Content/themes/crsri/fonts/font-awesome.min.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
</head>

