body {
    margin: 0px;
    padding: 0px;
}

.tax_head {
    height: 180px;
    border-bottom: 1px solid #efefef;
}


.tax_content {
    width: 1300px;
    margin: auto;
    background-color: #f8f8f8;
    margin-top: 32px;
    margin-bottom: 33px;
    background-image: url(/images/tax_tit_bg.png);
    background-position: top;
    background-repeat: no-repeat;
}

.tax_title {
    line-height: 70px;
    font-size: 24px;
    color: #2764b3;
    width: 100%;
    background-image: url(/images/tax_lm_icon.png);
    background-position: left 15px center;
    background-repeat: no-repeat;
    text-indent: 80px;
}

.tax_list {
    width: 1300px;
    margin-top: 80px;
    min-height: 360px;
}

    .tax_list ul {
        margin-left: 10px;
        padding: 0px;
        width: 1040px;
        margin: auto;
        line-height: 106px;
    }

        .tax_list ul li {
            float: left;
            width: 496px;
            height: 106px;
            margin: 9px;
            padding: 3px;
            background: white;
            box-shadow: 0 0 8px #eee;
            list-style: none;
            vertical-align: middle;
        }

    .tax_list i {
        width: 80px;
        height: 80px;
        line-height: 80px;
        border-radius: 50px;
        background-image: url(/images/tax/tax_question.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #305DC3;
        display: block;
        float: left;
        vertical-align: middle;
        margin-left: 12px;
        margin-top: 14px;
    }

    .tax_list a {
        margin-left: 8px;
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }


.expCol_content {
    margin: auto;
    background-color: #f8f8f8;
}

.expCol_head {
    height: 180px;
    border-bottom: 1px solid #efefef;
}

.expCol_title {
    width: 1200px;
    margin: auto;
    margin-top: 25px;
    height: 42px;
    background: url(/images/exp_lm_sp1200.jpg) no-repeat left bottom;
    font-size: 18px;
    font-weight: bold;
    color: #2963b4;
    padding-top:25px;
}

.expCol_list {
    width: 1200px;
    margin: auto;
    margin-bottom: 33px;
}

    .expCol_list ul {
        margin: 0px;
        padding:0 0 30px 0;
    }

        .expCol_list ul li {
            list-style-type: none;
            height: 40px;
            line-height: 40px;
            margin-top: 6px;
            background: url(/images/expColPoint.png) no-repeat left center;
            text-indent: 8px;
        }


            .expCol_list ul li:first-child {
                margin-top: 20px;
            }


    .expCol_list a {
        margin-left: 12px;
        text-decoration: none;
        color: #333;
    }

    .expCol_list span {
        float: right;
        color: #999;
    }

.expCol_list_box {
    width: 1320px;
    margin: auto;
    background-color: #fff;
}
