@{
    Layout = null;
}
@model inside.crsri.Utility.requestHomeArticleClass
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>经济发展调研心得体会专栏</title>
    <link rel="stylesheet" href="/Content/themes/crsri/css/page.css" />
    <link rel="stylesheet" href="/Content/themes/crsri/css/footerbox.css" />
</head>
<body>

    <div class="expCol_head">

    </div>
    <div class="expCol_list_box">
        <div class="expCol_title">
            <img src="/images/exptitleicon.png" style="float:left" />
            <span style="float:left;padding-top:5px;">心得体会</span>
        </div>
        <div class="expCol_list">
            <ul>
                @{
                    foreach (inside.crsri.Utility.HomeArticleClass m in Model.articleList)
                    {
                        <li>
                            <span><i>@m.releaseTime</i></span>
                            <a href="/ExpCol/show/@inside.crsri.Utility.helper.UrlEncry(m.articleID)" target="_blank">@System.Web.HttpUtility.HtmlDecode(m.title)</a>
                        </li>
                    }
                }
            </ul>
        </div>

    </div>
    <div style="clear:both"></div>
    <div class="footerbox bg">
        <div class="wid_main fix">

            <div class="txt" style="margin:auto;text-align:center">
                <p>主办：长江科学院科研计划处 党群办公室</p>
                <p>支持：长江科学院信息中心</p>
                <p>电话：82926349</p>
            </div>
        </div>
    </div>

</body>
</html>
