@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="applicable-device" content="pc">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <title>安全生产</title>
    <link href="/Content/themes/crsri/css/aqsc/style.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="head"></div>
    <div class="content">
        @RenderBody()
    </div>
    <div class="footer">
        <div class="footer_c">
            <span>长江科学院 版权所有 | 主办：院长办公室  承办：信息中心 | 联系电话：027-82829726</span>
        </div>
    </div>
</body>
</html>
