@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>年报集合</title>
    <link href="/Content/themes/crsri/css/nbjh/style.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="nbjh_banner"></div>
    @RenderBody()
    <div class="nbjh_footer">
        <span>支持:长江科学院信息中心 | 电话:82927128</span>
    </div>
</body>
</html>
