@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>廉政建设</title>
    <link href="/Content/themes/crsri/css/lzjs/style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/Scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
    <div class="lzjs_banner"></div>
    <div style="background: url(/images/lzjs/listbg.png) no-repeat;width:1920px;">
        @RenderBody()
    </div>
        <div class="footer">
            <span>长江科学院 版权所有 | 主办:长江科学院监察审计处 |  支持:长江科学院信息中心 | 电话:82829719</span>
        </div>
</body>
</html>
