@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>客户端VPN</title>

    <link rel="stylesheet" href="/Content/themes/crsri/css/page.css" />
    <link rel="stylesheet" href="/Content/themes/crsri/css/footerbox.css" />
    <style type="text/css">
        body {
            background: #eee;
            height: 100%;
        }

        .sslvpn_content {
            min-height: 600px;
            width: 100%;
            background: #29aae3;
        }


        span.icon-trans {
            position: absolute;
            font-size: 41em;
            color: rgba(228, 228, 228, 0.25);
            left: 0%;
            top: -18%;
            font-weight: 800;
            z-index: 0;
        }

        .sslvpn_layer {
            padding-top: 110px;
            width: 1140px;
            text-align: center;
            margin: auto;
        }

        .sslvpn_box {
            padding-top: 10px;
            height: 188px;
            margin: auto;
            color: #555;
        }

            .sslvpn_box ul {
                margin: 0px;
                padding: 0px;
            }

                .sslvpn_box ul li {
                    width: 350px;
                    height: 188px;
                    float: left;
                    list-style-type: none;
                    margin-right: 30px;
                    background-color: #fff;
                }

        .sslvpn_layer h1 {
            font-size: 2.5rem;
            color: #fff;
        }

        .sslvpn_box h4 {
            font-size: 1.5rem;
            height: 60px;
            width: 320px;
        }

        .sslvpn_footer {
            width: 100%;
            margin: auto;
            position:absolute;
            bottom:10px;
        }

            .sslvpn_footer p {
                height: 30px;
                line-height: 30px;
                width: 620px;
                margin: auto;
                font-size: 12px;
                text-align: center;
                vertical-align: middle;
            }
    </style>
</head>
<body>
    <div class="sslvpn_content">
        <span class="icon-trans">s</span>
        <div class="sslvpn_layer">
            <h1>
                SSLVPN 客户端
            </h1>

            <div class="sslvpn_box">
                <ul>
                    <li>
                        <h4>
                            VPN 配置教程
                        </h4>
                        <a href="ftp://10.6.66.100/soft/SSLVPNreadme.docx">
                            <img src="/images/sslvpn/sslvpn.png" />
                        </a>
                    </li>
                    <li>
                        <h4>
                            VPN软件客户端<br />
                            XP系统
                        </h4>
                        <a href="ftp://10.6.66.100/soft/SSLVPN.rar">
                            <img src="/images/sslvpn/sslvpn.png" />
                        </a>
                    </li>
                    <li>
                        <h4>
                            VPN软件客户端<br /> WIN7系统\WIN8系统
                        </h4>
                        <a href="ftp://10.6.66.100/soft/SSLVPNFORWIN8.rar">
                            <img src="/images/sslvpn/sslvpn.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sslvpn_footer">
        <p>版权所有 Copyright® 2004-2006 长江水利委员会长江科学院</p>
        <p>地址:武汉市黄浦大街23号 电话:027-82829770 电子邮箱:ckyinfo@mail.crsri.cn</p>
    </div>
</body>
</html>
