
@{
    ViewBag.Title = "hc";
    Layout = "~/Views/Shared/_Layout_JHXY.cshtml";
}

<div class="hc">
    <div class="hc_img">
        <div class="tz_author" style="margin:0px; padding-top:508px;">长江委纪检组组长、中共长江委党组成员陈飞</div>
        <div class="tz_author" style="margin:0px; padding-top:370px;">原长江委副主任傅秀堂</div>
    </div>

</div>
