body, p {
    margin: 0px;
    padding: 0px;
}





.tax_head_sub {
    height: 150px;
    background: url(/images/tax/tax.png) center center no-repeat;
}

.tax_head {
    width: 624px;
    height: 200px;
    margin: auto;
    background: url(/images/tax/title02.png) center center no-repeat;
}

.tax_head_box {
    width: 100%;
    background-color: #fff;
}

.tax_list {
    width: 100%;
    height: 472px;
    background: url(/images/tax/b-1.jpg) no-repeat center center;
    display: table;
}

.tax_list_child {
    display: table-cell;
    vertical-align: middle;
}

    .tax_list_child ul {
        margin: 0px;
        padding: 0px;
        width: 1080px;
        margin: auto;
    }

        .tax_list_child ul li {
            float: left;
            width: 494px;
            height: 106px;
            line-height: 106px;
            margin: 9px;
            padding: 3px;
            border: 1px solid #ccc;
            list-style: none;
            background-color: #fff;
        }

    .tax_list_child .icon {
        background: url(/images/tax/ico3.png) no-repeat left 10px;
        width: 101px;
        height: 94px;
        float: left;
        margin-left: 10px;
    }

    .tax_list_child a {
        text-decoration: none;
        color: #333;
        margin-left: 6px;
    }

.tax_footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 14px;
    background-color: #eee;
    height: 80px;
}

    .tax_footer p {
        line-height: 26px;
    }

.tax_footer_c {
    position: absolute;
    bottom: 26px;
    text-align: center;
    width: 100%;
    margin: auto;
}


.expCol_content {
    margin: auto;
    background-color: #f8f8f8;
}

.expCol_head {
    height: 200px;
    border-bottom: 1px solid #efefef;
    background-image: url(/Images/ExpCol/expCol.jpg);
}

.expCol_title {
    width: 1200px;
    margin: auto;
    margin-top: 25px;
    height: 42px;
    background: url(/images/exp_lm_sp1200.jpg) no-repeat left bottom;
    font-size: 18px;
    font-weight: bold;
    color: #2963b4;
    padding-top: 25px;
}

.expCol_list {
    width: 1200px;
    margin: auto;
    margin-bottom: 33px;
}

    .expCol_list ul {
        margin: 0px;
        padding: 0;
    }

        .expCol_list ul li {
            list-style-type: none;
            height: 100px;
            width: 600px;
            float: left;
            margin-top: 20px;
        }



    .expCol_list a {
        text-decoration: none;
        color: #333;
        width: 475px;
        float: left;
        height: 79px;
        border-bottom: 1px solid #efefef;
        padding-left: 8px;
    }

    .expCol_list span {
        color: #fff;
        background-image: url(/images/expCol/ExpCol_item.png);
        margin: auto;
        width: 80px;
        height: 80px;
        line-height: 80px;
        float: left;
    }

        .expCol_list span i {
            width: 50px;
            height: 21px;
            vertical-align: middle;
            display: block;
            margin: auto;
        }

.expCol_list_box {
    width: 1320px;
    margin: auto;
}


.download_head {
    height: 200px;
    background-image: url(/images/download/banner_d.jpg);
}




.fixed_b {
    position: absolute;
    bottom: 0px;
    width: 100%;
}


.budgetpay_head {
    height: 200px;
    border-bottom: 1px solid #efefef;
    background-image: url(/images/budgetpay/banner_d.jpg);
}

.erx-main .inner {
    width: 980px;
    margin: auto;
}

.inner {
    position: relative;
    padding: 0 80px;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.erx-content {
    padding-top: 30px;
    overflow: hidden;
}

erx-list dt, .erx-list dd {
    position: relative;
    margin: 0 0 30px;
    padding: 0 0 0 80px;
}

    .erx-list dd .d, .erx-article .d {
        position: absolute;
        top: 3px;
        left: 0;
        width: 60px;
        color: #fff;
        text-align: center;
        background: #DA251D;
    }

        .erx-list dd .d em, .erx-article .d em {
            display: block;
            font-size: 18px;
            font-weight: bold;
            font-family: Georgia, Arial;
            padding: 8px 0;
        }

        .erx-list dd .d i, .erx-article .d i {
            display: block;
            font-size: 14px;
            font-family: Arial;
            background: #fff;
            padding: 2px 0;
            border: 1px solid #ddd;
            color: #666;
        }

    .erx-list dt .t, .erx-list dd .t {
        border-bottom: 1px #ddd solid;
        padding: 0 0 30px;
    }

        .erx-list dd .t .m {
            color: #333;
        }

.erx-list .t .m {
    font-size: 18px;
    font-weight: bold;
}

.erx-list .t p {
    max-height: 84px;
    line-height: 1.8;
    letter-spacing: 1px;
    padding: 9px 0 0;
    overflow: hidden;
}

.erx-list dd .i, .erx-article .i {
    position: relative;
    color: #888;
    font-size: 14px;
    padding: 10px 0 0;
}

    .erx-list dd .i a, .erx-article .i a {
        margin-left: 4px;
    }

    .erx-list dd .i i, .erx-article .i i {
        display: inline-block;
        width: 0;
        height: 10px;
        margin: -1px 12px 0;
        color: #bbb;
        font-size: 12px;
        text-indent: -999px;
        border-left: 1px #bbb dotted;
        vertical-align: middle;
    }

.erx-list a, .fanye a {
    text-decoration: none;
}

.erx-list dd .i .rm {
    position: absolute;
    right: 0;
    top: 12px;
    width: 30px;
    height: 15px;
    line-height: 15px;
    margin-left: 0;
    display: inline-block;
    text-align: center;
    border: 1px #DA251D solid;
    border-radius: 9px;
    overflow: hidden;
}

    .erx-list dd .i .rm:after {
        position: absolute;
        left: 50%;
        top: 50%;
        display: inline-block;
        content: '';
        width: 16px;
        height: 0;
        margin: -2px 0 0 -8px;
        border-bottom: 4px #DA251D dotted;
    }


.qualbanner {
    height: 145px;
    background: url(/images/qual/qualbg.png);
}

    .qualbanner span {
        display: block;
        position: relative;
        top: 55px;
        left: 368px;
        color: #fff;
        font-size: 34px;
        letter-spacing: 8px;
        width: 480px;
    }

.qual_menu {
    position: relative;
    height: 32px;
    width: 800px;
    left: 454px;
    bottom: -108px;
}

    .qual_menu ul {
        margin: 0;
        padding: 0;
    }

        .qual_menu ul li {
            list-style: none;
        }


    .qual_menu .l1 {
        float: left;
        padding: 0 14px;
        padding-bottom: 25px;
    }

        .qual_menu .l1 .hover, .qual_menu .l1 a:hover {
            background-color: #00a0bc;
            border: #00a0bc solid 1px;
            color: #fff;
        }

        .qual_menu .l1 a {
            float: left;
            height: 32px;
            border: #cfcfcf solid 1px;
            padding: 0 8px;
            background-color: #fff;
            opacity: 0.9;
            color: #333;
        }

            .qual_menu .l1 a .c_abs {
                float: left;
                width: 120px;
                font-size: 14px;
                text-align: center;
                line-height: 30px;
            }

.qual_nav {
    height: 26px;
    background-color: #f1f1f1;
    background: url(/images/qual/QM_Navbg.jpg);
}

.container {
    padding: 30px 15px;
    width: 1280px;
    margin: 0 auto;
    height: auto;
}

.ct2-sd {
    float: left;
    width: 300px;
    box-shadow: 0 0 3px #999;
}

.panel-sd {
    margin-bottom: 20px;
    background-color: #f6f6f6;
}

    .panel-sd .tit {
        text-align: center;
        color: #fff;
        font-size: 20px;
        background-color: #00a0bc;
        padding: 15px 0;
    }

        .panel-sd .tit span {
            display: block;
            text-transform: uppercase;
            font-size: 14px;
            color: #fff;
        }

.ct2-mn {
    float: right;
    width: 930px;
}

.panel-sd ul li {
    width: 200px;
    opacity: 0.95;
    float: left;
    background-repeat: no-repeat;
    display: table;
    margin-left: 12px;
    margin-bottom: 15px;
    margin-top: 6px;
}

.panel-sd .box_outside {
    height: 32px;
    display: block;
    background-color: #e4e7eb;
    width: 266px;
    box-shadow: 0 0 5px #ccc;
}

.panel-sd .box_inside {
    height: 34px;
    line-height: 34px;
    display: inline-block;
    background-color: #fff;
    width: 266px;
    margin-left: 6px;
    margin-top: 6px;
    position: absolute;
    box-shadow: 0 0 5px #ccc;
    opacity: 0.95;
    text-indent: 10px;
}

.panel-sd a {
    vertical-align: middle;
    color: #333;
}

    .panel-sd a.cur {
        color: #00a0bc;
        font-weight: bold;
    }

    .panel-sd a:hover {
        color: #00a0bc;
    }

.news {
    width: 100%;
}

    .news .new_m {
        width: 100%;
    }


    .news .n_m {
        width: 100%;
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px dashed #ddd;
        background: #e4e7eb;
    }

        .news .n_m .title {
            width: 100%;
            height: 25px;
            line-height: 25px;
            text-align: left;
        }

            .news .n_m .title span {
                width: 80px;
                text-align: center;
                font-size: 12px;
                color: #333;
                background: #efefef;
            }

            .news .n_m .title p {
                width: 445px;
                margin-left: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .news .n_m .title span, .news .n_m .title p {
                display: inline-block;
                *display: inline;
                zoom: 1;
                line-height: 32px;
                padding: 3px;
            }

            .news .n_m .title a {
                margin-left: 12px;
                vertical-align: middle;
                display: inline-block;
                cursor: pointer;
            }

                .news .n_m .title a:hover {
                    color: #00a0bc;
                }
